<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
  </head>
  <body>
    <!-- display messages -->
    <!-- normal people only see messages -->
    <!-- members can see names and timestamps -->
    <!-- admin delete messages button -->
    <!-- post new message -->
    <!-- join the club button -->
    <!-- logout -->
  </body>
</html>
